main{
    height: 100vh;
    overflow: auto;
    margin-top: 0vh;
    background-image: url("img/ferrari_5.jpg");
    
    background-position: top;
    background-size: cover;
}
.container{
    width: 60%;
    
    
}

nav{
    
    margin-left: 2vw;
    margin-right: 2vw;
}
a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
