body {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

main {
    height: 100vh;
    overflow: auto;
    /*margin-top: 0vh;*/
    background-image: url("img/ferrari_5.jpg");

    background-size: cover;
    background-position: top;
}

.container {
    width: 80%;


}

header {

    margin-left: 2vw;
    margin-right: 2vw;
}

a {
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight:500 ;

}

a:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#jarmuvek {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#navfilter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: rgba(36, 55, 231, 0.3); 
    border-radius: 8px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#legordul {
    border-radius: 10px;
}

.btn {
    border-radius: 10px; font-size: 1.2rem
}

/*.hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3) inset, 0 17px 30px 0 rgba(0, 0, 0, 0.2) inset;
}*/

img {
    opacity: 0.9;
}

img:hover {
    opacity: 1;
}

.nohover{pointer-events: none;}


